/* FOOTER */ 

footer{
    text-align: center;
    background: url(imagens/verderodape.jpg);
    padding: 30px;

}

footer p{
    color: #ffffff;
    font-weight: bold;
}

.pngbrasil{
    padding-top: 1em;
    width: 10%;
}